<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <img src="/assets/img/logo.png" alt="">
        <p [routerLink]="'summary'" (click)="isResponsivScreen()&& drawer.toggle()">Summary</p>

        <p [routerLink]="'board'" (click)="isResponsivScreen()&& drawer.toggle()">Board</p>
        <p [routerLink]="'addTask'" (click)="isResponsivScreen()&& drawer.toggle()">Add Task</p>
        <p [routerLink]="'contacts'" (click)="isResponsivScreen()&& drawer.toggle()">Contacts</p>
        <p *ngIf="this.currentUser.Admin" [routerLink]="'addUser'" (click)="isResponsivScreen()&& drawer.toggle()">Add new User</p>
        <p [routerLink]="'archive'" (click)="isResponsivScreen()&& drawer.toggle()">Archive</p>

        <div class="bottom-menü">
            <p [routerLink]="'imprint'" (click)="isResponsivScreen()&& drawer.toggle()">Imprint</p>
            <p [routerLink]="'privacypolice'" (click)="isResponsivScreen()&& drawer.toggle()">Privacy police</p>
            <span (click)="logout(); drawer.toggle()" class="material-icons">
                logout
                </span>
        </div>
    </mat-drawer>
    <div class="example-sidenav-content">
        <mat-toolbar>
            <mat-toolbar-row>
                <button *ngIf="isLogin" type="button" mat-button (click)="drawer.toggle()"> <!--zum release ! rein-->
                  <span class="material-icons">
                      menu
                  </span>
                </button>

                <span class="d-none">Kanban Project Management Tool</span>
                <p *ngIf="isLogin" class="{{this.currentUser.department}} initials">{{this.initials}}</p>
            </mat-toolbar-row>

        </mat-toolbar>

    </div>


    <form #userForm *ngIf="!isLogin">
        <!--zum release ! rein-->
        <mat-form-field class="example-full-width">
            <mat-label>email</mat-label>
            <input matInput placeholder="Enter your email" #email1 required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>password</mat-label>
            <input matInput placeholder="Enter your password" type="password" #password1 required>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="login2(email1.value, password1.value)">login</button>
    </form>


    <router-outlet *ngIf="isLogin"></router-outlet>
    <!--zum release ! raus-->

</mat-drawer-container>